/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/tmp/

# rspec failure tracking
.rspec_status

# IDEs
/.idea/

# Packaging Artifacts
*.gem
gemfiles/*.gemfile.lock
Appraisal.*.gemfile.lock

# Engine stuff
/db/*.sqlite3
/log/*.log
/public/cache/**/*
/vendor/

# Dummy Rails App
/test/dummy/db/*.sqlite3
/test/dummy/log/*.log
/test/dummy/tmp
/test/dummy/.sass-cache
